footer.mdl-mini-footer
  .mdl-mini-footer__left-section
    .mdl-logo Trail App
    ul.mdl-mini-footer__link-list
      li
        a(href='http://www.outdoor.org.vt.edu/' target='_blank') OCVT Site
      li
        a(href="mailto:trail-app@vt.edu+TrailApp?Subject=Trail%20App%20Beta%20Feedback") Contact