footer.mdl-mini-footer
  .mdl-mini-footer__left-section
    .mdl-logo Trail App
    ul.mdl-mini-footer__link-list
      li
        a(href='/') Guide
      li
        a(href='http://www.outdoor.org.vt.edu/' target='_blank') OCVT Site
      li
        a(href='https://github.com/parker45/ATmaintenance' target='_blank') GitHub
      li
        a(href="mailto:djo96@vt.edu+TrailApp?Subject=Trail%20App%20Beta%20Feedback") Contact