extends layout
block extraHeader
    link(rel='stylesheet', href='/stylesheets/index.css')
block content
    .wrapper
        h3 Thank You For Submitting
        p 
        | Welcome to our Trail Maintenance Management app beta. Thank you for helping us test our application and be sure to take notes of any feedback you have while using it throughout the day. Feel free to email comments to
        | #[a(href="mailto:trail-app@vt.edu+TrailApp?Subject=Trail%20App%20Beta%20Feedback") trail-app@vt.edu].
        | 
        h4 #[a(href="http://www.outdoor.org.vt.edu/trips/trips.php") Want To Help Out? Click Here to Volunteer]