extends layout
block extraHeader
  link(rel='stylesheet', href='/stylesheets/report.css')
  link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.6.3/css/all.css')
  script(src='/javascripts/report.js')
block content
  .mdl-grid
    .mdl-cell.mdl-cell--12-col
        h4.title-text What Did You Encounter?
    .mdl-cell.mdl-cell--4-col.mdl-cell--2-col-phone
        .demo-card-square.mdl-card.mdl-shadow--2dp(id="tree")
            i.fas.fa-tree
            .mdl-card__title.mdl-card--expand
                h4.mdl-card__title-text Fallen Tree
    .mdl-cell.mdl-cell--4-col.mdl-cell--2-col-phone
        .demo-card-square.mdl-card.mdl-shadow--2dp(id="shelter")
            i.fas.fa-campground
            .mdl-card__title.mdl-card--expand
                h4.mdl-card__title-text Shelter Maintenance
    .mdl-cell.mdl-cell--4-col.mdl-cell--2-col-phone
        .demo-card-square.mdl-card.mdl-shadow--2dp(id="garbage")
            i.fas.fa-trash-alt
            .mdl-card__title.mdl-card--expand
                h4.mdl-card__title-text Garbage
    .mdl-cell.mdl-cell--4-col.mdl-cell--2-col-phone
        .demo-card-square.mdl-card.mdl-shadow--2dp(id="trail")
            i.fas.fa-hiking
            .mdl-card__title.mdl-card--expand
                h4.mdl-card__title-text Trail Work
    .mdl-cell.mdl-cell--4-col.mdl-cell--2-col-phone
        .demo-card-square.mdl-card.mdl-shadow--2dp(id="blaze")
            i.fas.fa-brush
            .mdl-card__title.mdl-card--expand
                h4.mdl-card__title-text Trail Blazing
    .mdl-cell.mdl-cell--4-col.mdl-cell--2-col-phone
        .demo-card-square.mdl-card.mdl-shadow--2dp(id="other")
            i.fas.fa-question-circle
            .mdl-card__title.mdl-card--expand
                h4.mdl-card__title-text Other
    .mdl-cell.mdl-cell--6-col
        .mdl-textfield.mdl-js-textfield.mdl-textfield--file
                input#uploadFile.mdl-textfield__input(placeholder='Add Images', type='text', readonly='')
                .mdl-button.mdl-button--primary.mdl-button--icon.mdl-button--file
                    i.material-icons photo_camera
                    input#uploadBtn(type='file')
    .mdl-cell.mdl-cell--6-col
        .mdl-textfield.mdl-js-textfield.mdl-textfield--file
                input#description-input.mdl-textfield__input(placeholder='Additional Description', type='text')
    .mdl-cell.mdl-cell--12-col
        .center-align
            button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored(id="submit-btn")
                | Submit                           