extends layout
block extraHeader
  link(rel='stylesheet', href='/stylesheets/report.css')
  script(src='/javascripts/report.js')
block content
  .mdl-grid
    .mdl-cell.mdl-cell--12-col
      h4 Where did you encounter the problem?
      #map
      .center-align
        button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored(id='continue-btn', onclick="window.location.href = window.location.href+'/1';")
              | Continue