extends layout
block extraHeader
    link(rel='stylesheet', href='/stylesheets/report.css')
block content
    .mdl-grid
        .mdl-cell.mdl-cell--12-col
            h3 Current Trips
            ul.demo-list-item.mdl-list
                each trip in trips
                    li.mdl-list__item
                        span.mdl-list__item-primary-content
                            a(href='/database/trip/'+trip.id) #{trip.date}
        .mdl-cell.mdl-cell--12-col
            button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored(id='continue-btn', onclick="window.location.href = '/database/trip/create';")
              | Create a New Trip