html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
  font-family: 'Roboto','Helvetica','Arial',sans-serif;
  background: #a8c4bd;
}

li, ul {
  list-style: none;
}

.a_button {
  padding: 0;
  padding-top: 15px;
  height: 15px !important;
}
 
.wrapper {
  padding: 1rem;
}

.column_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-gap: 1.5rem;
  align-items: flex-start;
}

.scrollable_list {
  border-radius: .2rem;
  background-color: #f4f4f4;
  padding: .5rem 1rem;
  height: calc(100vh - 7rem);
  min-height: 320px;
}

.list_title {
  padding: .25rem;
  align-items: center;
}

.list_title h2 {
  color: #17394d;
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  display: inline-block;
}

.list_title i {
  text-align: right;
  color: #798d99;
  float: right;
}

.list_title form {
  margin-block-end: -15px;
}

.mdl-textfield__label__icon {
   position: absolute;
   left: 0;
   top: 21px;
}

.search_field,
.search_label {
  margin-left: 28px;
}

.card_list {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 1rem;
  margin: .5rem 0;
  margin-right: .5rem;
}

.list_container {
  overflow-y: auto;
  height: calc(100vh - 9rem);
  min-height: 288px;
}

.recurring .list_container {
  height: calc(100vh - 9rem - 52px);
  min-height: 236px;
}

.recurring .card_item {
  text-align: right;
}

.card_item {
  background-color: white;
  border-radius: .25rem;
  padding: .5rem;
  text-align: center;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  border-radius: 2px;
}

.recurring_i {
  float: left;
  padding-right: 5px;
  font-size: 15px;
  padding-top: 1px;
}

.card_title {
  float: left;
  font-weight: bold;
}

.card_date {
  float: left;
}

.card_location {
  float: right;
  font-weight: bold;
}

.card_description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  float: left;
  padding-top: 10px;
  margin-block-end: 10px;
  text-align: left;
  font-size: 15px;
  width: 100%;
}

.card_button {
  width: 29%;
  border: 0px black solid;
  line-height: 0px !important;
  cursor: pointer;
  border-radius: 2px;
  background: none;
  height: 30px;
  transition: .5s;
  display: none;
}

.a_button {
  padding: 0;
  padding-top: 15px;
  height: 15px;
}

.card_rank {
  float: left;
  background: #00838F !important;
  margin-left: 10px;
}

.card_edit {
  background: #43A047 !important;
  margin-right: 2rem;
}


.card_merge {
  background: #7986CB !important;
}

.card_delete {
  float: right;
  background: #E65100 !important;
  margin-right: 10px;
}

.card_tag--low {
  border-left: 6px solid #61BD4F;
}

.card_tag--medium {
  border-left: 6px solid #F2D600;
}

.card_tag--urgent {
  border-left: 6px solid #EB5A46;
}

.card_tag--emergency {
  border-left: 6px solid #C377E0;
}

.new {
  height: calc(100vh - 7rem);
  min-height: 320px;
}

.new_button {
  float: right;
  margin-right: 10px;
  margin-top: -5px;
  background: #43A047 !important;
  height: 30px;
  line-height: 30px;
}

.new_button i {
  font-size: 16px;
  color: #FFF;
}

.new_task {
  margin-block-end: 15px;
}

.new_trip {

}

.filter_label {
  display: inline-block;
  margin-left: 20px;
}

#filter_tasks {
  display: inline-block;
  width: 100px;
}

@media screen and (max-width: 530px) {
  .column_list {
    grid-template-columns: auto;
  }
}

@media screen and (max-width: 500px) {
  .mdl-textfield {
    margin-top: -8px !important;
  }
}

@media screen and (max-width: 400px) {
  .mdl-textfield {
    margin-top: -20px !important;
  }
}

/* REFERENCE */

.card__tag {
  font-size: .75rem;
  padding: .1rem .5rem;
  border-radius: .25rem;
  font-weight: 700;
  color: white;
  margin-bottom: .75rem;
  display: inline-block;
}

.card__image {
  width: 100%;
  margin-bottom: .25rem;
}

/* sticker colors */

.card__title {
  color: #17394d;
  margin-bottom: .75rem;
}

/* card actions */

.card__actions {
  display: flex;
  align-items: center;
}

.card__actions--wrapper i {
  color: #798d99;
  margin-right: .5rem;
}

.card__actions--text {
  color: #798d99;
  font-size: .8rem;
  margin-left: -.25rem;
  margin-right: .5rem;
}

.card__avatars {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.card__avatars--item {
  margin-left: .25rem;
  width: 28px;
  height: 28px;
}

.avatar__image {  
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
