html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
  font-family: 'Helvetica Neue', Arial, Helvetica,sans-serif;
}

a {
  /*color: #00B7FF;*/
}

li, ul {
  list-style: none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: grey; 
  border-radius: 10px;
}

.wrapper {
  padding: 1rem;
}

.column_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: .5rem;
  align-items: flex-start;
  /* Uncomment these lines if you want to have the standard Trello behavior instead of the column wrapping */
  /*grid-auto-flow: column;*/
  /*grid-auto-columns: minmax(260px, 1fr);*/
}

.scrollagble_list {
  border-radius: .2rem;
  background-color: #dfe3e6;
  padding: .5rem;
  height: calc(100vh - 3rem);
}

.list_title {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: .25rem;
  align-items: center;
}

.list_title h2 {
  color: #17394d;
  font-weight: 700;
  font-size: .9rem;
}

.list_title i {
  text-align: right;
  color: #798d99;
}

.card_list {
  display: grid;
  grid-template-rows: auto;
  grid-gap: .5rem;
  margin: .5rem 0;
  margin-right: .5rem;
}

.list_container {
  overflow-y: scroll;
  height: calc(100vh - 5rem);
}

.card_item {
  background-color: white;
  border-radius: .25rem;
  box-shadow: 0 1px 0 rgba(9,45,66,.25);
  padding: .5rem;
  text-align: center;
}

.card_title {
  float: left;
  font-weight: bold;
  padding-top: 10px;
}

.card_date {
  float: left;
}

.card_location {
  float: right;
  font-weight: bold;
}

.card_description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  float: left;
  padding-top: 10px;
  margin-block-end: 10px;
  text-align: left;
  font-size: 15px;
}

.card_button {
  width: 30%;
  border: 1px black solid;
  cursor: pointer;
  border-radius: 2px;
  background: none;
  height: 30px;
  transition: .5s;
}

.card_rank {
  float: left;
  background: #BCD9EA;
}

.card_rank:hover {
  background: #8BBDD9;
}

.card_edit {
  float: left;
  background: #B7DDB0;
}

.card_edit:hover {
  background: #99D18F;
}

.card_merge {
  background: #FFB968;
}

.card_merge:hover {
  background: #FFAB4A;
}

.card_delete {
  float: right;
  background: #EC9488;
}

.card_delete:hover {
  background: #EF7564;
}

.card_tag--easy {
  border-left: 6px solid #61BD4F;
}

.card_tag--medium {
  border-left: 6px solid #F2D600;
}

.card_tag--hard {
  border-left: 6px solid #EB5A46;
}

.card_tag--epic {
  border-left: 6px solid #C377E0;
}

.new {
  height: calc(100vh - 3rem);
}

.new_button {
  width: 100%;
  height: 50%;
  border: 0px solid;
  border-radius: 2px;
  background: #dfe3e6;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: .5s;
}

.new_button:hover {
  background: #caced0;
}

.new_button i {
  font-size: 250px;
  color: #17394d;
}

.new_button h3 {
  font-size: 40px;
  color: #17394d;
}

.new_task {
  margin-block-end: 15px;
}

.new_trip {

}

/* REFERENCE */

.card__tag {
  font-size: .75rem;
  padding: .1rem .5rem;
  border-radius: .25rem;
  font-weight: 700;
  color: white;
  margin-bottom: .75rem;
  display: inline-block;
}

.card__image {
  width: 100%;
  margin-bottom: .25rem;
}

/* sticker colors */

.card__title {
  color: #17394d;
  margin-bottom: .75rem;
}

/* card actions */

.card__actions {
  display: flex;
  align-items: center;
}

.card__actions--wrapper i {
  color: #798d99;
  margin-right: .5rem;
}

.card__actions--text {
  color: #798d99;
  font-size: .8rem;
  margin-left: -.25rem;
  margin-right: .5rem;
}

.card__avatars {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.card__avatars--item {
  margin-left: .25rem;
  width: 28px;
  height: 28px;
}

.avatar__image {  
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}