extends layout
block extraHeader
  link(rel='stylesheet', href='/stylesheets/admin.css')
  link(rel='stylesheet', href='/stylesheets/admin_form.css')
  link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.6.3/css/all.css')
  script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
  script(type='text/javascript', src='/javascripts/admin_form.js')
block content
  section.wrapper
    ul.column_list
      li.form
        h3 #{task.due_date}
        form(action='#', id="task_form")
          div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
            input(type='text', name='title', value=(undefined===task ? '' : task.title), id="title").mdl-textfield__input
            label(for="title").mdl-textfield__label Title
          div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
              textarea(type='text', rows='5', id='description').mdl-textfield__input #{task.description}
              label(for='description').mdl-textfield__label Description
          div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
            input(type='date', name='due_date', value=(undefined===task ? '' : task.due_date), id="due_date").mdl-textfield__input
            label(for="due_date").mdl-textfield__label Due Date
          div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
              select(id='location', name='location').mdl-textfield__input
                option(hidden disabled selected value)
                option(value='P0') P0
                option(value='P1') P1
                option(value='P2') P2
                option(value='P3') P3
                option(value='P4') P4
                option(value='P5') P5
                option(value='P6') P6
                option(value='P7') P7
                option(value='P8') P8
                option(value='P9') P9
                option(value='P10') P10
                option(value='P11') P11
                option(value='P12') P12
                option(value='P13') P13
                option(value='PG') PG
                option(value='PD') PD
                option(value='PRF') PRF
                option(value='B1') B1
                option(value='B2') B2
                option(value='B3') B3
                option(value='BHM') BHM
              label(for='location').mdl-textfield__label Location
          div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
              select(id='priority', name='priority', selected=(undefined===task ? '' : task.priority)).mdl-textfield__input
                option(hidden disabled selected value)
                option(value='low').low Low
                option(value='medium').medium Medium
                option(value='urgent').urgent Urgent
                option(value='emergency').emergency Emergency
              label(for='priority').mdl-textfield__label Priority
          div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
              select(id='trip_id', name='trip_id').mdl-textfield__input
                option(hidden disabled selected value)
                option(value='a') Trip A
                option(value='b') Trip B
                option(value='c') Trip C
                option(value='d') Trip D
              label(for='trip_id').mdl-textfield__label Trip
          div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
              select(id='type', name='type').mdl-textfield__input
                option(value='Default' selected) Default
                option(value='Recurring') Recurring
              label(for='type').mdl-textfield__label Type
        button(type='submit', form='task_form', value='Submit').mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent.submit_task_button Submit Task
      li.images.scrollable_list
        div.list_title
          h2 Images
          button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent.add_image_button Add Image
        ul.list_container
          li.image_card.mdl-card.mdl-shadow--2dp
            div.mdl-card__title.mdl-card--expand
            div.mdl-card__actions
              span.image_card__filename Image1.jpg
          li.image_card.mdl-card.mdl-shadow--2dp
            div.mdl-card__title.mdl-card--expand
            div.mdl-card__actions
              span.image_card__filename Image2.jpg
          li.image_card.mdl-card.mdl-shadow--2dp
            div.mdl-card__title.mdl-card--expand
            div.mdl-card__actions
              span.image_card__filename Image3.jpg
          li.image_card.mdl-card.mdl-shadow--2dp
            div.mdl-card__title.mdl-card--expand
            div.mdl-card__actions
              span.image_card__filename Image4.jpg
      button(type='submit', form='task_form', value='Submit').mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent.submit_task_button_narrow Submit Task
