doctype html
html
  head
    title= title
    link(rel='icon', type='img/ico', href='images/logo.png')
    script(src="/node_modules/material-design-lite/material.min.js")
    block extraHeader
  body
    block content
