doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='A front-end template that helps you build fast, modern mobile web apps.')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0')
    title= title
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='https://code.getmdl.io/1.3.0/material.indigo-pink.min.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src='public/javascripts/report.js')
    //- script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDdvhDyANPVXBOLCZosr9b-FiyEfWH9SyA&callback=initMap', type='text/javascript')
    script(src='https://code.getmdl.io/1.3.0/material.min.js')
    link(rel='stylesheet', src='public/stylesheets/report.css')
    
    style.
      #view-source {
      position: fixed;
      display: block;
      right: 0;
      bottom: 0;
      margin-right: 40px;
      margin-bottom: 40px;
      z-index: 900;
      }
      #map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
  body
    .demo-layout.mdl-layout.mdl-layout--fixed-header.mdl-js-layout.mdl-color--grey-100
      header.demo-header.mdl-layout__header.mdl-layout__header--scroll.mdl-color--grey-100.mdl-color-text--grey-800
        .mdl-layout__header-row
          span.mdl-layout-title Report a Problem
          .mdl-layout-spacer
          .mdl-textfield.mdl-js-textfield.mdl-textfield--expandable
            label.mdl-button.mdl-js-button.mdl-button--icon(for='search')
              i.material-icons search
            .mdl-textfield__expandable-holder
              input#search.mdl-textfield__input(type='text')
              label.mdl-textfield__label(for='search') Enter your query...
      main.demo-main.mdl-layout__content
        .demo-container.mdl-grid
          .mdl-cell.mdl-cell--2-col.mdl-cell--hide-tablet.mdl-cell--hide-phone
          .demo-content.mdl-color--white.mdl-shadow--4dp.content.mdl-color-text--grey-800.mdl-cell.mdl-cell--8-col
            h3 Where did you experience the Issue?
            #map
        footer.demo-footer.mdl-mini-footer
          .mdl-mini-footer--left-section
            ul.mdl-mini-footer--link-list
              li
                a(href='#') Help
              li
                a(href='#') Privacy and Terms
              li
                a(href='#') User Agreement
