extends reportLayout

block content
  .mdl-grid
    .mdl-cell.mdl-cell--12-col
        h3 What Type of Problem Did You Encouter?
    .mdl-cell.mdl-cell--4-col
        .demo-card-square.mdl-card.mdl-shadow--2dp
            .mdl-card__title.mdl-card--expand(id="tree")
                h2.mdl-card__title-text Fallen Tree
            .mdl-card__supporting-text
                | A tree has fallen on the trail.
            .mdl-card__actions.mdl-card--border
                a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect
                    | Select
    .mdl-cell.mdl-cell--4-col
        .demo-card-square.mdl-card.mdl-shadow--2dp
            .mdl-card__title.mdl-card--expand(id="shelter")
                h2.mdl-card__title-text Shelter Maintenance
            .mdl-card__supporting-text
                | The Shelter is in need of Maintenance.
            .mdl-card__actions.mdl-card--border
                a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect
                    | Select
    .mdl-cell.mdl-cell--4-col
        .demo-card-square.mdl-card.mdl-shadow--2dp
            .mdl-card__title.mdl-card--expand(id="garbage")
                h2.mdl-card__title-text Garbage/Litter
            .mdl-card__supporting-text
                | There is Litter on the Trail.
                | Trash needs to be emptied
            .mdl-card__actions.mdl-card--border
                a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect
                    | Select
    .mdl-cell.mdl-cell--4-col
        .demo-card-square.mdl-card.mdl-shadow--2dp
            .mdl-card__title.mdl-card--expand(id="trail")
                h2.mdl-card__title-text Trail Work
            .mdl-card__supporting-text
                | The trail is in need of Maintenance.
            .mdl-card__actions.mdl-card--border
                a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect
                    | Select
    .mdl-cell.mdl-cell--4-col
        .demo-card-square.mdl-card.mdl-shadow--2dp
            .mdl-card__title.mdl-card--expand(id="blaze")
                h2.mdl-card__title-text Trail Blazing
            .mdl-card__supporting-text
                | The blazes on the trail are faded or not visible.
            .mdl-card__actions.mdl-card--border
                a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect
                    | Select
    .mdl-cell.mdl-cell--4-col
        .demo-card-square.mdl-card.mdl-shadow--2dp
            .mdl-card__title.mdl-card--expand(id="other")
                h2.mdl-card__title-text Other
            .mdl-card__supporting-text
                | Please explain below.
            .mdl-card__actions.mdl-card--border
                a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect
                    | Select
    .mdl-cell.mdl-cell--6-col
        .demo-card-square.mdl-card.mdl-shadow--2dp
            .mdl-card__title.mdl-card--expand(id="images")
                h2.mdl-card__title-text Add Images
            .mdl-card__supporting-text
                | Add any additional Images.
            .mdl-card__actions.mdl-card--border
                label.input-custom-file.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--colored
                    | ADD IMAGES
                    input(type='file') 
    .mdl-cell.mdl-cell--6-col
        .demo-card-square.mdl-card.mdl-shadow--2dp
            .mdl-card__title.mdl-card--expand(id="description")
                h2.mdl-card__title-text Addtional Description
            .mdl-card__supporting-text
                | Add any additional information.
            .mdl-card__actions.mdl-card--border
                form(action='#')
                    .mdl-textfield.mdl-js-textfield
                        textarea#sample5.mdl-textfield__input(type='text', rows='2')
                        label.mdl-textfield__label(for='sample5') Input Here...          