extends layout
block extraHeader
    link(rel='stylesheet', href='/stylesheets/tasks.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.6.3/css/all.css')
    script(type='text/javascript', src='/javascripts/admin.js')
block content
  section.wrapper
    div.scrollable_list.tasks
      div.list_title
        h2 Tasks
        i.fas.fa-inbox
      div.list_container
        ul.card_list
          each task in data.task_list
            li.card_item
              div.topBox
                h3.short_desc #{task.title}
                h3.card_location #{task.priority} Priority : #{task.location}
                br
                p.card_description #{task.description}
              br
              br
              div.bottomBox
                button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent.task_button.card_add Add to trip
                button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent.task_button.card_more More info  
